<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>

    cookie:<%=userCookie %> <br>
    <script>
        const opt ="width=300,height=200,top=500,left=500"
        window.open("popup","",opt)
        //접속하면 cookie/popup를 생성
    </script>
   
   
</body>
</body>
</html>