<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= nick %> 님 환영합니다 <hr>
    <a href="/session/login">로그인</a>
    <a href="/session/logout">로그아웃</a>
    <a href="/viewList">내장바구니</a>
    <a href="/cart">장보러가기</a>
</body>
</html>