<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>specificInfo</h1>
    <hr>
    <!-- const getInfo = (request, response) => {
        let i=request.query.i;
        const specificInfo=service.getMember(i);
        
        response.render("info", { specificInfo });
    }; -->

    id:<%=specificInfo.id%> <br>
    name:<%=specificInfo.name%> <br>
    addr:<%=specificInfo.addr%>
</body>
</html>