<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    index.ejs

<h1>index</h1>
<h1><%=key%></h1>

<a href="/login">로그인</a> <br>
<a href="/member">data_deliver</a><br>
<a href="/for_quiz">for문으로 data_deliver</a><br>
<a href="/onlineUrls">url목록</a><br>
</body>
</html>