<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>url docs</h1>
    <!-- <%=datas.urls.length %> -->

     <% for(let i=0 ; i< datas.urls.length; i++ ){%> 
    <a href="https://<%=Object.values(datas.urls[i])%>"><%=Object.keys(datas.urls[i]) %></a>
        <br>
    <% } %>
</body>
</html>